section{
    background-color: black;
    width: 70vw;
    height: 270vh;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}
div{
    width: 100px;
    height: 100px;
}
#box1{
    background-color: aqua;
    position: relative;
    /* left: 50px;
    top: 50px; */
    z-index: 50;
}
#box2{
    background-color: crimson;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 48;
}
#box3{
    background-color: brown;
    /* position: fixed; */
    top: 0px;
    right: 10px;
}
#box4{
    background-color: orange;
    /* position: sticky; */
    top: -20px;
    /* bottom: 20px; */
}