*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section{
    display: block;
    width: 500px;
    height: 100px;
    margin: 100px auto;
    justify-content: space-around;
}

#div121{
    display: flex;
}

#img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 100px;
    border: 1px solid black;
}

#img21{
    display: block;
}

#img21 #div1{
    display: flex;
    margin-bottom: 20px;
}

#img21 #div1 button{
    width: 80px;
    height: 35px;
    margin: -5px 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(88, 88, 227);
    color: white;
    font-weight: bold;
}

#img21 #div1 a{
    color: white;
    text-decoration-line: none;
}

#img21 #div1 span{
    margin-top: -20px;
    font-size: 40px;
}

#img21 #div2{
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 20px;
}

section #div11{
    width: 900px;
    height: 200px;
    margin: 50px -100px;
    border-top: 2px solid rgba(80, 58, 58, 0.147);
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    border-left: 1px solid rgba(0, 0, 0, 0.171);
    border-right: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    padding: 40px;
}
section #div11 span{
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 16px;
}