*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav1{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin: 20px;
}
#nav1 img{
    width: 200px;
    height: 60px;
}
#nav1 a{
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}
#nav2{
    display: flex;
    width: 125px;
    justify-content: space-between;
    margin: 20px;
}
#nav2 i{
    font-size: 25px;
    margin-top: 7px;
}
#nav2 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#nav2 i:hover{
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.278);
}
.div1{
    margin: 20px 100px;
}
.div1 button{
    background-color: white;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-right: 20px;
    font-weight: bold;
}
.div1 button i{
    margin-right: 10px;
    font-weight: bold;
}
section .h1{
    margin-left: 100px;
}
.divsection1{
    display: flex;
}
.divsection1 a{
    text-decoration-line: none;
}
.class1{
    width: 400px;
    height: 300px;
    margin: 30px 100px;
}
.class1:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.258);
    background-color: aliceblue;
    border-radius: 10px;
}
.class1 .subclass1{
    width: 400px;
    height: 200px;
}
.class1 .subclass1 img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.class1 .subclass2{
    display: flex;
    margin-top: 10px;
}
.class1 .subclass2 .subclass22{
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.575);
}
.sub3class1{
    width: 400px;
    height: 100px;
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
}
.sub3class1:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.258);
    background-color: aliceblue;
    border-radius: 10px;
}
.sub3class1 p:first-child{
    line-height: 80px;
    font-weight: bold;
}
.sub3class1 img{
    width: 90px;
    height: 70px;
    margin: 10px 20px;
    border-radius: 10px;
}
.sub3class1 .sub3class2{
    line-height: 25px;
}
.smallbox{
    display: flex;
}